<div class="back" (click)="Helpersroute()">
    <img src="assets/images/arrow-up.png" alt="go back">
    <p>Add Helper</p>
</div>

<aside class="tracker">

    <div class="tracker-line">
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle"></div>
    </div>

    <div class="text">
        <div class="text1">
            <p>Helper Details</p>
            <span>Add helper details</span>
        </div>
        <div class="text2">
            <p>Documents</p>
            <span>Upload related documents</span>
        </div>
        <div class="text3">
            <p>Review</p>
            <span>Check the information and confirm</span>
        </div>
    </div>

</aside>