<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="language().completed"
                  [indeterminate]="partiallyComplete()"
                  (change)="update($event.checked)">
      {{ language().name }}
    </mat-checkbox>
  </span>

  <span class="example-list-section">
    <ul>
      <li *ngFor="let lang of language().languages; let i = index">
        <mat-checkbox [checked]="lang.completed"
                      (change)="update($event.checked, i)">
          {{ lang.name }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>
